*Replace this text with your own name and a brief description of what this notebook does.*

## Homework 18-2

This assignment uses your green taxi trip data set from previous labs.  

a) Compute the mean and standard deviation for the fare amount.

b) Using sample size 500, take 10,0000 samples from green taxi trip data and compute the mean fare amount for each of the 10,000 samples.  

c) Compute the mean and standard deviation of the sample means from part (b).

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

taxi = pd.read_csv("../../data/Sept1_2021_Green_Taxi_Trip_Data.csv")
taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,09/01/2021 12:00:11 AM,09/01/2021 12:01:39 AM,N,1.0,74,74,1.0,0.02,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,0.00
1,2,09/01/2021 12:00:26 AM,09/01/2021 12:09:38 AM,N,1.0,95,56,1.0,1.41,8.0,0.5,0.5,1.00,0.0,NaN,0.3,10.30,1.0,1.0,0.00
2,2,09/01/2021 12:01:27 AM,09/01/2021 12:23:14 AM,N,1.0,93,256,1.0,11.07,31.5,0.5,0.5,6.56,0.0,NaN,0.3,39.36,1.0,1.0,0.00
3,1,09/01/2021 12:01:31 AM,09/01/2021 12:15:14 AM,N,1.0,255,36,1.0,2.80,11.5,1.0,0.5,3.95,0.0,NaN,0.3,17.25,1.0,1.0,0.00
4,2,09/01/2021 12:02:08 AM,09/01/2021 12:24:51 AM,N,5.0,93,144,4.0,10.64,65.0,0.0,0.0,0.00,0.0,NaN,0.3,68.05,2.0,2.0,2.75

In [3]:
taxi["fare_amount"].mean()

20.95487991646358

In [4]:
pop_sd = taxi["fare_amount"].std()
pop_sd

16.238900895452527

In [5]:
means = []
for i in range(10000):
    sample = taxi.sample(500)
    mean = sample["fare_amount"].mean()
    means.append(mean)

In [6]:
pd.Series(means).mean()

20.958124623999993

In [7]:
pd.Series(means).std()

0.6543398324127986

In [8]:
pop_sd/np.sqrt(500)

0.726225725642281

1. How does the mean of the sample means compare to the mean fare amount per trip from the original data?
2. How does the standard deviation of the sample means compare to the standard deviation of the fare amount from the original data divided by the square root of the sample size (500)?

Write your answers below.

1. The two means are equal when rounded to 2 decimal places.
2. The standard deviation of the fare amount divided by the square root of the sample size is equal to the standard devaiation of the samples means up to 1 decimal place when rounded.