In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
data = pd.DataFrame([3,5,2,7,7])

In [8]:
data

   0
0  3
1  5
2  2
3  7
4  7

In [9]:
data.var()

0    5.2
dtype: float64

In [ ]:
# var = spread of number in a data set

In [11]:
taxi = pd.read_csv("2021_Green_Taxi_Trip_Data.csv")

In [12]:
taxi.head(2)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,09/01/2021 12:00:11 AM,09/01/2021 12:01:39 AM,N,1.0,74,74,1.0,0.02,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2.0,1.0,0.0
1,2,09/01/2021 12:00:26 AM,09/01/2021 12:09:38 AM,N,1.0,95,56,1.0,1.41,8.0,0.5,0.5,1.0,0.0,NaN,0.3,10.3,1.0,1.0,0.0

In [16]:
dist_filter = taxi["trip_distance"]< 200
taxi["trip_distance"][dist_filter]
taxi[dist_filter].head(2)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,09/01/2021 12:00:11 AM,09/01/2021 12:01:39 AM,N,1.0,74,74,1.0,0.02,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2.0,1.0,0.0
1,2,09/01/2021 12:00:26 AM,09/01/2021 12:09:38 AM,N,1.0,95,56,1.0,1.41,8.0,0.5,0.5,1.0,0.0,NaN,0.3,10.3,1.0,1.0,0.0

In [17]:
taxi["trip_distance"].mean()

121.93093282283326

In [18]:
taxi["trip_distance"].median()

2.81

In [19]:
taxi["trip_distance"].max() - taxi["trip_distance"].min()

116259.55

In [20]:
taxi["trip_distance"].var()

8445869.391563335

In [ ]:
# standard deviation is the squareroot of population variance or sample variance

In [21]:
taxi["trip_distance"].std()

2906.1777976516396

Write a piece of code that computes the range, variance, and standard deviation of the widths of the artwork in MoMA's collection. Use the unfiltered dataset.




1) What are the units for the range, variance, and standard deviation that you computed above?


2) If we filter the dataset to only contain artwork with a width less than 500cm (similar to Lab 5), the variance becomes  1348.1cm2  and the standard deviation becomes 36.7cm. How did the variance and standard deviation change? Does this make sense?


Write your answers below.

In [86]:
art = pd.read_csv("Artworks.csv")
art.head(2)

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN

In [104]:
Height_filter = art["Height (cm)"] < 500
new_art = art[Height_filter]
new_art.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

In [101]:
new_art["Height (cm)"].max() - new_art["Height (cm)"].min()

497.840995682

In [102]:
new_art["Height (cm)"].std()

35.964374563022545

In [103]:
new_art["Height (cm)"].var()

1293.4362377093832