# Lab 20 - Correlation, causation, and heat maps

The Federal Reserve Bank of New York has information about the labor market for recent college graduates [here](https://www.newyorkfed.org/research/college-labor-market#--:explore:outcomes-by-major).

The data used to be downloadable as an Excel file, but is not anymore.  We will use data from Feb. 2021 which is posted as a CSV file on Blackboard.

### 20.1 Loading and cleaning the data

We will be using a new data visualization library called [Seaborn](https://seaborn.pydata.org/#).  Import Seaborn and the other libraries so we can use them in our code.

In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

Before creating the dataframe, look at the CSV file.  Do you notice anything that you will have to account for when reading in the data?  

To skip rows at the end of the CSV file, use the `skipfooter` parameter.  For example, to skip the last 5 rows of the CSV file, add the parameter `skipfooter = 5` to the `read_csv()` function.  Ignore any warnings that appear.

Load the labor market CSV file into a dataframe called `labor`:

In [21]:
labor = pd.read_csv("labor-market-Feb2021.csv",skiprows = 13, skipfooter = 3)

/var/folders/hh/nxh3r3vn2jx97bs11v7tsmd40000gn/T/ipykernel_8808/1099751398.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  labor = pd.read_csv("labor-market-Feb2021.csv",skiprows = 13, skipfooter = 3)

<details> <summary>Hint:</summary>
Add both the parameters `skipfooter = 3` and `skiprows = 13` to `read_csv()`.
</details>

Display your `labor` dataframe below to check it.

In [22]:
labor

,Major,Unemployment Rate,Underemployment Rate,Median Wage Early Career,Median Wage Mid-Career,Share with Graduate Degree
0,Agriculture,3.0,60.3,"40,000","65,000",20.8
1,Animal and Plant Sciences,2.6,58.6,"37,000","63,000",35.1
2,Environmental Studies,3.9,53.7,"39,000","65,000",30.5
3,Architecture,2.2,27.9,"50,000","76,000",41.0
4,Ethnic Studies,5.1,51.9,"40,000","67,000",48.6
...,...,...,...,...,...,...
68,Finance,3.4,34.3,"56,000","93,000",30.9
69,International Affairs,4.1,53.1,"46,150","79,000",43.0
70,History,5.5,53.6,"40,000","64,000",49.5
71,Engineering Technologies,3.1,45.7,"50,000","85,000",24.9
72,Miscellaneous Technologies,3.2,52.2,"45,000","80,000",19.0

We will want to use all the columns as numbers, but has `read_csv` interpreted them as numbers?  Type `labor.dtypes` below and run the code to see what *type* each column is.  `dtypes` is a property of the dataframe, not a function, so it doesn't have `()` at the end.

In [23]:
labor.dtypes

Major                          object
Unemployment Rate             float64
Underemployment Rate          float64
Median Wage Early Career       object
Median Wage Mid-Career         object
Share with Graduate Degree    float64
dtype: object

Decimal numbers are stored as `float64`, so the `Unemployment Rate`, `Underemployment Rate`, and `Share with Graduate Degree` have been read in as numbers.  The `Median Wage Early Career` and `Median Wage Mid-Career` columns have type `object` which probably means a string.  These columns were read in as strings because they contains commas.

The following code will remove the commas and tell Pandas that these columns are `float`s as well.

In [24]:
labor["Median Wage Early Career"] = labor["Median Wage Early Career"].str.replace(",","").astype(float)
labor["Median Wage Mid-Career"] = labor["Median Wage Mid-Career"].str.replace(",","").astype(float)

Check that this code worked by displaying `labor` again:

labor

Show the type for each column:

In [25]:
labor.dtypes

Major                          object
Unemployment Rate             float64
Underemployment Rate          float64
Median Wage Early Career      float64
Median Wage Mid-Career        float64
Share with Graduate Degree    float64
dtype: object

### 20.2 Correlation matrix

We can compute the correlation matrix with the code `labor.corr()`.  Try it below.

In [26]:
labor.corr()

ValueError: could not convert string to float: 'Agriculture'

Which pair of columns are the most correlated?  Which pair of columns are the least correlated?

### 20.3 Heat maps

We can visualize the correlation matrix with a heat map.  To do this, we need to save the correlation matrix in a variable (say `corr_matrix`) and then run the code `sns.heatmap(corr_matrix)`.  Try it below.

In [19]:
sns.heatmap(corr_matrix)

NameError: name 'corr_matrix' is not defined

Find the pairs of columns that you thought were most correlated and least correlated above.  Do the colors for these pairs make sense?

Make a scatter plot of the two columns that are most correlated.  The code pattern for creating a scatter plot is `df.plot.scatter(x = "column name 1", y = "column name 2")`

Does the relationship look linear (like a line)?

Now make a scatter plot of the two columns that were least correlated.

Does this relationship look linear?

We can plot all possible scatter plots at once with the Seaborn command `sns.pairplot(labor)`.  Try it below.

Can you spot the pairs of columns with negative correlation from the plots?  What plots are on the diagonal?

## 20.4 Another heat map: Traffic counts

To fully see the power of heat maps, we need a larger data set.  Download the dataset of traffic counts from Blackboard.

This dataset contains counts of the number of vehicles to pass different sections of road at different times of the day.  It was originally downloaded from NYC Open Data, but is no longer available.

Load the CSV file into a variable called `traffic`

Display your new dataframe.

What are the columns?

Compute the correlation matrix.

<details> <summary>Answer:</summary>
<code>
traffic.corr()</code>
</details>

Our correlation matrix is fairly large, so it is hard to see patterns in it.  To visualize the correlation matrix, display it as a heatmap.

<details> <summary>Answer:</summary>
<code>
traffic_corr_matrix = traffic.corr()
sns.heatmap(traffic_corr_matrix)</code>
</details>

What do you notice about the heatmap?  Which columns are similar?  Does this make sense?

### Challenges:
- Which pair of numeric columns in the taxi dataset are the most correlated?  Which pair of numeric columns in the taxi dataset are the least correlated?  Do these results make sense?
- Which pair of numeric columns in the Starbucks drink nuitrition information are the most correlated?  Which pair are the least correlated?  Do these results make sense?