In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings('ignore')

In [2]:
#read csv file sales march 2019
base_url = 'https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/'
salefilenames = "Sales_March_2019.csv"
fullurl = base_url + salefilenames
fullurl_df = pd.read_csv(fullurl)

In [3]:
fullurl_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,162009,iPhone,1,700,03/28/19 20:59,"942 Church St, Austin, TX 73301"
1,162009,Lightning Charging Cable,1,14.95,03/28/19 20:59,"942 Church St, Austin, TX 73301"
2,162009,Wired Headphones,2,11.99,03/28/19 20:59,"942 Church St, Austin, TX 73301"
3,162010,Bose SoundSport Headphones,1,99.99,03/17/19 05:39,"261 10th St, San Francisco, CA 94016"
4,162011,34in Ultrawide Monitor,1,379.99,03/10/19 00:01,"764 13th St, San Francisco, CA 94016"

In [4]:
fullurl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15226 entries, 0 to 15225
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          15189 non-null  object
 1   Product           15189 non-null  object
 2   Quantity Ordered  15189 non-null  object
 3   Price Each        15189 non-null  object
 4   Order Date        15189 non-null  object
 5   Purchase Address  15189 non-null  object
dtypes: object(6)
memory usage: 713.8+ KB

In [5]:
fullurl_df.isna().sum()

Order ID            37
Product             37
Quantity Ordered    37
Price Each          37
Order Date          37
Purchase Address    37
dtype: int64

In [6]:
# show 2 columns (quantity and price)
#fullurl_df.columns

In [7]:
fullurl_df2 = fullurl_df[["Order Date","Quantity Ordered","Price Each"]]

In [8]:
fullurl_df2.head(2)

       Order Date Quantity Ordered Price Each
0  03/28/19 20:59                1        700
1  03/28/19 20:59                1      14.95

In [9]:
fullurl_df2['Order Date'].value_counts()

Order Date
Order Date        35
03/08/19 14:05     6
03/03/19 10:46     5
03/11/19 21:14     5
03/01/19 17:48     5
                  ..
03/01/19 10:46     1
03/21/19 18:22     1
03/07/19 21:51     1
03/01/19 19:49     1
03/08/19 14:15     1
Name: count, Length: 11784, dtype: int64

In [10]:
fullurl_df2[fullurl_df2['Order Date'] ==  'Order Date'].head()

      Order Date  Quantity Ordered  Price Each
433   Order Date  Quantity Ordered  Price Each
864   Order Date  Quantity Ordered  Price Each
930   Order Date  Quantity Ordered  Price Each
1979  Order Date  Quantity Ordered  Price Each
2032  Order Date  Quantity Ordered  Price Each

In [55]:
#How to delete specific values from a column in a dataset (Python)
#df.drop(df[df['Grad Intention'] == 'Undecided'].index, inplace = True)
#ref: https://stackoverflow.com/questions/69424104/how-to-delete-specific-values-from-a-column-in-a-dataset-python

# fullurl_df2.drop(fullurl_df2[fullurl_df2['Order Date'] == 'Order Date'].index,inplace = True)
fullurl_df2.drop(fullurl_df2[fullurl_df2['Quantity Ordered'] == 'Quantity Ordered'].index,inplace = True)

In [58]:
fullurl_df2.isna().sum()

Order Date          37
Quantity Ordered    37
Price Each          37
dtype: int64

In [57]:
fullurl_df2["Quantity Ordered"].value_counts()

Quantity Ordered
1    13779
2     1032
3      250
4       61
5       24
6        7
7        1
Name: count, dtype: int64

In [61]:
fullurl_df2[fullurl_df2.isnull()].head()

  Order Date Quantity Ordered Price Each
0        NaN              NaN        NaN
1        NaN              NaN        NaN
2        NaN              NaN        NaN
3        NaN              NaN        NaN
4        NaN              NaN        NaN

In [62]:
# drop the nan values

# fullurl_df3 = fullurl_df2.dropna() # drop nan values you have to assign to new variable dataframe name 'fullurl_df3'
fullurl_df2.dropna(inplace = True) # drop nan values and keep the variable dataframe name 'fullurl_df2'

In [63]:
fullurl_df2.isna().sum()

Order Date          0
Quantity Ordered    0
Price Each          0
dtype: int64

In [20]:
fullurl_df2["Order Date"].value_counts()

Order Date
03/08/19 14:05    6
03/01/19 11:05    5
03/31/19 18:41    5
03/01/19 17:48    5
03/03/19 10:46    5
                 ..
03/01/19 10:46    1
03/21/19 18:22    1
03/07/19 21:51    1
03/01/19 19:49    1
03/08/19 14:15    1
Name: count, Length: 11783, dtype: int64

In [24]:
fullurl_df2['Quantity Ordered']=pd.to_numeric(fullurl_df2['Quantity Ordered']) # make int
fullurl_df2['Price Each']=pd.to_numeric(fullurl_df2['Price Each'])# make float

/var/folders/hh/nxh3r3vn2jx97bs11v7tsmd40000gn/T/ipykernel_36141/2470671977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fullurl_df2['Quantity Ordered']=pd.to_numeric(fullurl_df2['Quantity Ordered']) # make int
/var/folders/hh/nxh3r3vn2jx97bs11v7tsmd40000gn/T/ipykernel_36141/2470671977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fullurl_df2['Price Each']=pd.to_numeric(fullurl_df2['Price Each'])# make float

In [23]:
fullurl_df2['Order Date']=pd.to_numeric(fullurl_df2['Order Date'])

ValueError: Unable to parse string "03/28/19 20:59" at position 0

In [17]:
fullurl_df2['sales']= fullurl_df2['Quantity Ordered'] * fullurl_df2['Price Each']
fullurl_df2.head()

/var/folders/hh/nxh3r3vn2jx97bs11v7tsmd40000gn/T/ipykernel_36141/3008566000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fullurl_df2['sales']= fullurl_df2['Quantity Ordered'] * fullurl_df2['Price Each']

       Order Date  Quantity Ordered  Price Each   sales
0  03/28/19 20:59               1.0      700.00  700.00
1  03/28/19 20:59               1.0       14.95   14.95
2  03/28/19 20:59               2.0       11.99   23.98
3  03/17/19 05:39               1.0       99.99   99.99
4  03/10/19 00:01               1.0      379.99  379.99

Referene:
- How to delete specific values from a column in a dataset (Python)
- https://stackoverflow.com/questions/69424104/how-to-delete-specific-values-from-a-column-in-a-dataset-python
- how to find sales
- https://www.atmosera.com/blog/using-pandas-to-analyze-sales-data/

In [ ]:
fullurl_df2['profit'] = fullurl_df2['sales']-fullurl_df2['Price Each']

In [ ]:
fullurl_df2

In [ ]:
fullurl_df2.plot.scatter(x = "sales", y = "profit")