In [5]:
x,y,z = 1,2,3
my_val = 1+2+3 
print(my_val)

6

In [6]:
x

1

In [16]:
x,y,z = 1,2,3
x,y,z

(1, 2, 3)

create 3 variables assign to  numbers
sum up the numbers using the variables and assign to a new variables

In [19]:
x = 1
y = 2
z = 3

In [21]:
Harrison = x + y + z

In [22]:
Harrison

6

read csv file sales march 2019
show 2 columns (quantity and price)
create a new column called sale and cost
4 plot sale and cost