*Replace this text with your own name and a brief description of what this notebook does.*

## Homework 5-1

This assignment will use the green taxi trip dataset you downloaded and used in Labs 3 and 4. For privacy, New York city is divided into zones, which are numbered. The drop off and pick up locations are stored as the numbers for the zones they were in.

Write a piece of code that computes the most popular pick up and drop off locations. That is, write code that computes the mode of the pick up and drop off locations. The columns are named PULocationID and DOLocationID, respectively.

You do not have to filter the code to remove long/erranous trip distances, as in the lab.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
taxi = pd.read_csv("../../data/Sept1_2021_Green_Taxi_Trip_Data.csv")
taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,09/01/2021 12:00:11 AM,09/01/2021 12:01:39 AM,N,1.0,74,74,1.0,0.02,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,0.00
1,2,09/01/2021 12:00:26 AM,09/01/2021 12:09:38 AM,N,1.0,95,56,1.0,1.41,8.0,0.5,0.5,1.00,0.0,NaN,0.3,10.30,1.0,1.0,0.00
2,2,09/01/2021 12:01:27 AM,09/01/2021 12:23:14 AM,N,1.0,93,256,1.0,11.07,31.5,0.5,0.5,6.56,0.0,NaN,0.3,39.36,1.0,1.0,0.00
3,1,09/01/2021 12:01:31 AM,09/01/2021 12:15:14 AM,N,1.0,255,36,1.0,2.80,11.5,1.0,0.5,3.95,0.0,NaN,0.3,17.25,1.0,1.0,0.00
4,2,09/01/2021 12:02:08 AM,09/01/2021 12:24:51 AM,N,5.0,93,144,4.0,10.64,65.0,0.0,0.0,0.00,0.0,NaN,0.3,68.05,2.0,2.0,2.75

In [3]:
taxi["PULocationID"].mode()

0    74
Name: PULocationID, dtype: int64

In [4]:
taxi["DOLocationID"].mode()

0    74
Name: DOLocationID, dtype: int64

There is a CSV file [here](https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv) that contains which number corresponds to which zone in NYC.  

1. What is the most popular zone for pick-ups?
2. What is the most popular zone for drop-off?

Write your answer (which should be the name of the zone) below.

 1. The most popular pick-up zone is 74, which corresponds to East Harlem North.
 2. The most popular drop-off zone is also 74, which corresponds to East Harlem North.